{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Add Post {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 <style type='text/css'>
 .create-form{
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  padding: 15px;
  margin: auto;
  background:rgb(248, 239, 226);
 }
 </style>

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="{% url 'panel' %}">Dashboard</a></li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Add Blog</h1>
          </div>
      </div>
  </div>

  <div class="card border-0 shadow mb-4">
      <div class="card-body">
          <div class="table-responsive">
  <form method="POST" action="" class="create-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class='form-group'>
     <label for="id_title">Title</label>
     <input class='form-control' type="text" name="title" id="id_title" placeholder='Title' required autofocus>
    </div>

    <div class='form-group'>
     <label for="id_body">Content</label>
     <textarea class='form-control' rows='10' type="text" name="body" id="id_body" placeholder='this blog about ...' required ></textarea>
    </div>

    <div class='form-group'>
     <label for="id_image">Image</label>
     <input type="file" name="image" id="id_image" accept="image/*" required >
    </div>

    <button class="btn btn-primary" type="submit">Post</button>
   </form>
          </div>
      </div>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
