{% extends "layouts/base.html" %}

{% block title %} Coupons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Coupons</li>
              </ol>
          </nav>
          <h2 class="h4">All Coupons</h2>
      </div>
  </div>
  


      <table class="table table-hover">
          <thead>
              <tr>
                  <th class="border-gray-200">code</th>
                <th class="border-gray-200">valid_from</th>
                  <th class="border-gray-200">valid_to</th>						
                  <th class="border-gray-200"> discount</th>
                  <th class="border-gray-200">active</th>
              </tr>
          </thead>
          <tbody>
              
              {% for coupon in coupons%}    
              <!-- Item -->
              <tr>
                  <td>
                      <a href="{% url 'update_coupon' coupon.code %}" class="fw-bold">
                          {{coupon.code}}
                      </a>
                  </td>
                  <td>
                      <span class="fw-normal">{{coupon.valid_from}}</span>
                  </td>                       
                  <td><span class="fw-normal">{{coupon.valid_to}}</span></td>
                  <td><span class="fw-bold">${{coupon.discount}}</span></td>
                  <td><span class="fw-bold text-warning">{{coupon.active}}</span></td>
                  <td>
                    <div class="dropdown me-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                              Edit
                        </button>
                        <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuOffset">
                        <li><a class="dropdown-item rounded-top" href="{% url 'update_coupon' coupon.code %}">Edit</a></li>
                        <li><a class="dropdown-item" href="{% url 'delete_coupon' coupon.code %}">Remove</a></li>
                        </ul>
                          </div>
                  </td>
              </tr> 
            {% endfor %}

          </tbody>
      </table>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
