psycopg2-binary
asgiref
certifi
charset-normalizer
crispy-bootstrap5
dj-database-url
Django
django-ckeditor
django-crispy-forms
django-js-asset
django-model-utils
django-notifications-hq
gunicorn
idna
jsonfield
Pillow
psycopg2
cloudinary
pytz
requests
six
sqlparse
swapper
tzdata
urllib3
whitenoise
