{% extends 'base.html' %}
{% load static %}
{% block title %}Post detail{% endblock title %}
{% block content %}


      <!-- Page Header -->
      <div class="container-fuild">
        <div class="page-header" style="background-image: url('images/miscellaneous/page-header.png')">
          <div class="container">
            <h1 class="page-title">Blog<span>Stay upto date</span></h1>
          </div><!-- End .container -->
        </div>
        <nav aria-label="breadcrumb">
          <div class="container">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'store' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'blog_home' %}">Blog</a></li>
                <li class="breadcrumb-item active" aria-current="page">Post Detail</li>
              </ol>
          </div>
        </nav>


    </div> 
          
      <!-- Site Content -->
      <section class="pro-content blog-content">
    <div class="container"> 
        <div class="row">
            <div class="col-12 col-lg-12 pro-blog-content">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="blog">
                          <div class="blog-thumb">
                            <img class="img-fluid" src="{{post.image.url}}" style="width: 100%;" alt="Blog-Image">
                          </div>
                          
                          <div class="blog-info">
                              <div class="blog-meta">
                                  <a >
                                      <i class="far fa-calendar-alt"></i>
                                      {{post.date_published}}
                                    </a>
                                    <a >
                                    <i class="fas fa-comments"></i>
                                    {{count}} Comments
                                  </a>

                                </div>
                                  <h3>{{post.title}}</h3>
                                  <p>{{post.body|safe}}</p>
                                                    
                          </div>
                        <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                
                                {% if request.user.is_authenticated %} 
                                <form action="" method="POST" class="mb-4">
                                    <textarea class='form-control' rows='10' type="text" name="body" id="id_body" placeholder='Leave a comment here ...'required></textarea>
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary ">Submit</button>
                                </form>
                                {% else %}
                                <p>u need to register to add comment <a href="{% url 'register' %}">register</a>
                                {% endif %}
                                <!-- Comment with nested comments-->
                                
                                {% for comment in comments %}        
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <div class="ms-3">
                                        <div class="fw-bold">{{comment.user.username}} <span class="text-muted font-weight-normal">{{comment.created}}</span></div>
                                        {{comment.body}}.
                                        <!-- Child comment 1-->   
                                        <!-- {% for replay in comment.replies.all %}
                                            <div class="d-flex mt-4">
                                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                                                </div>
                                                <div class="ms-3">
                                                    <div class="fw-bold">{{replay.name}}</div>
                                                    {{replay.body}}
                                                </div>
                                            </div>
                                        {% endfor %}  -->     
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
      </div>
      </section>
      
    {% endblock content %}
 
 