{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Page Header -->
      <div class="container-fuild">
        <div class="page-header" >
          <div class="container">
            <h1 class="page-title">Login</h1>
          </div><!-- End .container -->
        </div>
        <nav aria-label="breadcrumb">
          <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'store' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
          </div>
        </nav>
      
      
      </div>
      <div class="page-area pro-content">
        <div class="container"> 
          
          
            <div class="row justify-content-center account-content">
              <div class="col-12 col-sm-12 col-md-6">
                <div class="col-12  px-0">
                    
                    <ul class="nav nav-tabs" id="registerTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">login</a>
                        </li>
                        
                      </ul>
                      <div class="tab-content" id="registerTabContent">
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <div class="registration-process">
                    <form method='POST' action=''>
                      {% csrf_token %}
                      <div class="from-group row mb-3">
                        <div class="input-group col-12">
                    
                          <input type="email" name="email" class="form-control" id="validationCustom01" placeholder="Enter Your email"
                            required>
                    
                        </div>
                      </div>
                      <div class="from-group row mb-3">
                        <div class="input-group col-12">
                    
                          <input type="password" name="password" class="form-control" id="inlineFormInputGroup11"
                            placeholder="Enter Your Password" required>
                        </div>
                      </div>
                      <div class="from-group">
                        <button type="submit" class="btn btn-secondary">Login</button>
                        <a href="{% url 'register' %}" class="btn btn-link">Register</a>
                      </div>
                    </form>
                            </div>
                         
                        </div>

                      </div>
                </div>
              </div>

            </div>
        </div>
      </div>
        {% endblock content %}