{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-lg-12 col-xl-12">
						<div class="card card-custom gutter-b bg-transparent shadow-none border-0">
							<div class="card-header align-items-center   border-bottom-dark px-0">
								<div class="card-title mb-0">
									<h3 class="card-label mb-0 font-weight-bold text-body">Order 
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-xl-12">
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="detail-tab">
								<div class="card card-custom gutter-b bg-white border-0">
									<div class="card-header border-bottom align-items-center">
	
										<div class="col-xl-2 col-12">
											<div class="card-title mb-2">
												<h3 class="card-label mb-0 font-weight-bold text-body">Customer
												</h3>
											</div>
										</div>
										<div class="col-xl-8 col-12">
											<div class="user-info mb-2">
												<ul class="m-0 p-0 list-style-none d-flex justify-content-center">
													<li class="d-flex mr-3 align-items-center">
														<span class="text-body icon">
															<svg width="15px" height="15px" viewBox="0 0 16 16"
																class="bi bi-person" fill="currentColor"
																xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd"
																	d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z">
																</path>
															</svg>
														</span>
														<h5 class="font-size-h4 font-size-bold text-body mb-0 pl-2 pr-2">
															Name: <span class="text-dark font-size-base">Sophia Hale</span>
														</h5>
													</li>
													<li class="d-flex mr-3 align-items-center">
														<span class="text-body icon">
															<svg width="15px" height="15px" viewBox="0 0 16 16"
																class="bi bi-phone" fill="currentColor"
																xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd"
																	d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z">
																</path>
																<path fill-rule="evenodd"
																	d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
															</svg>
														</span>
														<h5 class="font-size-h4 font-size-bold text-body mb-0 pl-2 pr-2">
															Phone: <span class="text-dark font-size-base">0123456789</span>
														</h5>
													</li>
													<li class="d-flex align-items-center">
														<span class="text-body icon">
															<svg width="15px" height="15px" viewBox="0 0 16 16"
																class="bi bi-envelope" fill="currentColor"
																xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd"
																	d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z">
																</path>
															</svg>
														</span>
														<h5 class="font-size-h4 font-size-bold text-body mb-0 pl-2 pr-2">
															Email: <span
																class="text-dark font-size-base">example@mail.com</span>
														</h5>
													</li>
												</ul>
											</div>
										</div>
										<div id="third" class="col-xl-2 col-12">
											<div class=" text-black-50 text-right">
												<h5 class="font-size-h6 mb-0">
													Placed On <span>12.07.2020</span>
												</h5>
											</div>
										</div>
	
									</div>
	
	
									<div class="card-body pt-0">
	
										<div
											class="row  gutter-pb gutter-pt border-bottom  order-payment justify-content-center">
											<div class="col-12 col-lg-6 col-xl-4 payment-detail">
												<h4 class="card-label mb-2 font-weight-bold font-size-h4 text-body">
													Payment Method
												</h4>
												<input type="text" class="form-control w-250px" id="disabledInput1"
													placeholder="Credit Card" disabled="">
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													Transaction ID: <span
														class="text-dark font-size-base">0000000005463</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													Amount: <span class="text-dark font-size-base">$2000</span>
												</h5>
											</div>
											<div class="col-12 col-lg-6 col-xl-4 payment-detail">
												<h4 class="card-label mb-2 font-weight-bold font-size-h4 text-body">
													Shipping Method
												</h4>
												<input type="text" class="form-control w-250px" id="disabledInput"
													placeholder="Carrier" disabled="">
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													Tracking Code: <span class="text-dark font-size-base">FX-0123456</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													Date: <span class="text-dark font-size-base">12.10.2020</span>
												</h5>
											</div>
										</div>
										<div class="row gutter-pb gutter-pt justify-content-center border-bottom">
											<div class="col-12 col-lg-6 col-xl-4  payment-detail">
												<h4 class="card-label mb-2 font-weight-bold font-size-h4 text-body">
													Billing Address
												</h4>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													First Name: <span class="text-dark">Sophia</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													Last Name: <span class="text-dark font-size-base">Hale</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													Address: <span class="text-dark font-size-base">123 london street
														4</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													City: <span class="text-dark font-size-base">New York</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													Country: <span class="text-dark font-size-base">london</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													State: <span class="text-dark font-size-base">london</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													Zip Code: <span class="text-dark font-size-base">1234</span>
												</h5>
												<h5 class="font-size-h5 mt-5 mb-0 font-size-bold text-body">
													Phone: <span class="text-dark font-size-base">+1(0123)0123456789</span>
												</h5>
	
											</div>
											<div class="col-12 col-lg-6 col-xl-4  payment-detail">
												<h4 class="card-label mb-2 font-weight-bold font-size-h4 text-body">
													Shipping Address
												</h4>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													First Name: <span class="text-dark font-size-base">Sophia</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													Last Name: <span class="text-dark font-size-base">Hale</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													Address: <span class="text-dark font-size-base">123 london street
														4</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													City: <span class="text-dark font-size-base">New York</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													Country: <span class="text-dark font-size-base">london</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													State: <span class="text-dark font-size-base">london</span>
												</h5>
												<h5 class="font-size-h5 mt-3 mb-0 font-size-bold text-body">
													Zip Code: <span class="text-dark font-size-base">1234</span>
												</h5>
												<h5 class="font-size-h5 mt-5 mb-0 font-size-bold text-body">
													Phone: <span class="text-dark font-size-base">+1(0123)0123456789</span>
												</h5>
	
											</div>
										</div>
										<div class="row">
											<div class="col-12 gutter-pt table-padding" id="printableTable">
												<table class="table table-striped text-body">
													<thead>
														<tr class="row">
															<th class="border-0 col-lg-6 col-4 header-heading" scope="col">
																Product</th>
															<th class="border-0 col-lg-2 col-2 header-heading" scope="col">
																Price</th>
															<th class="border-0 col-lg-2 col-3 text-center header-heading"
																scope="col">Quantity</th>
															<th class="border-0 col-lg-2 col-3 text-right header-heading"
																scope="col">Total</th>
														</tr>
													</thead>
													<tbody>
														<tr class="row">
	
															<td class="col-lg-6 col-4">Mackbook Pro 15"</td>
															<td class="col-lg-2 col-2">$2500</td>
															<td class="col-lg-2 col-3 text-center">100</td>
															<td class="col-lg-2 col-3 text-right">$25000</td>
	
														</tr>
														<tr class="row">
															<td class="col-lg-6 col-4">Mackbook Pro 15"</td>
															<td class="col-lg-2 col-2">$2500</td>
															<td class="col-lg-2 col-3 text-center">100</td>
															<td class="col-lg-2 col-3 text-right">$25000</td>
	
														</tr>
														<tr class="row">
															<td class="col-lg-6 col-4">Mackbook Pro 15"</td>
															<td class="col-lg-2 col-2">$2500</td>
															<td class="col-lg-2 col-3 text-center">100</td>
															<td class="col-lg-2 col-3 text-right">$25000</td>
	
														</tr>
													</tbody>
												</table>
												<div class="row justify-content-end">
													<div class="col-12 col-md-3">
														<div>
															<table class="table right-table">
	
																<tbody>
																	<tr
																		class="d-flex align-items-center justify-content-between">
																		<th
																			class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
																			SUBTOTAL
																		</th>
																		<td
																			class="border-0 justify-content-end d-flex text-black-50 font-size-base">
																			$75000</td>
	
																	</tr>
																	<tr
																		class="d-flex align-items-center justify-content-between">
																		<th
																			class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
																			TAX(20%)
																		</th>
																		<td
																			class="border-0 justify-content-end d-flex text-black-50 font-size-base">
																			$90000</td>
	
																	</tr>
																	<tr
																		class="d-flex align-items-center justify-content-between">
																		<th
																			class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
																			DISCOUNT
																		</th>
																		<td
																			class="border-0 justify-content-end d-flex text-black-50 font-size-base">
																			10%</td>
	
																	</tr>
																	<tr
																		class="d-flex align-items-center justify-content-between item-price">
																		<th
																			class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
																			TOTAL
																		</th>
																		<td
																			class="border-0 justify-content-end d-flex text-dark font-size-base">
																			$81000</td>
	
																	</tr>
	
																</tbody>
															</table>
														</div>
													</div>
												</div>
	
											</div>
										</div>
									</div>
								</div>
	
							</div>
							<div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
								<div class="card card-custom gutter-b bg-white border-0">
									<div
										class="card-header d-flex align-items-start justify-content-between  border-0 pb-5">
										<div class="card-title mb-0 d-flex inovice-main">
											<div
												class="bg-primary pb-3 h-150px  w-150px d-flex flex-column justify-content-end align-items-center">
												<h3 class="font-size-h3 text-white">Invoice</h3>
												<h4 class="font-size-h4 text-white">#123456789</h4>
											</div>
											<div class="card-user-detail padding-top pl-3 w-250px">
												<h5 class="font-size-h5 font-size-bold text-body">Kundol</h5>
												<h5 class="font-size-h5 text-dark">St.40,Boston,MA,USA,02020</h5>
												<h5 class="font-size-h5 text-dark">+0123456789</h5>
												<h5 class="font-size-h5 text-dark">abc@mail.com</h5>
												<h5 class="font-size-h5 text-dark">www.site.com</h5>
											</div>
										</div>
	
										<div class="padding-top">
											<h5 class="font-size-h5 text-black-50">
												Placed On <span>12.07.2020 10:00pm</span>
											</h5>
											<a href="index.html">
												<img src="./assets/images/misc/logo.png" alt="logo">
											</a>
										</div>
	
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-12 table-padding">
												<table class="table table-striped text-body">
													<thead>
														<tr class="row">
															<th class="border-0 col-lg-6 col-4 header-heading" scope="col">
																Product</th>
															<th class="border-0 col-lg-2 col-2 header-heading" scope="col">
																Price</th>
															<th class="border-0 col-lg-2 col-3 text-center header-heading"
																scope="col">Quantity</th>
															<th class="border-0 col-lg-2 col-3 text-right header-heading"
																scope="col">Total</th>
														</tr>
													</thead>
													<tbody>
														<tr class="row">
	
															<td class="col-lg-6 col-4">Mackbook Pro 15"</td>
															<td class="col-lg-2 col-2">$2500</td>
															<td class="col-lg-2 col-3 text-center">100</td>
															<td class="col-lg-2 col-3 text-right">$25000</td>
	
														</tr>
														<tr class="row">
															<td class="col-lg-6 col-4">Mackbook Pro 15"</td>
															<td class="col-lg-2 col-2">$2500</td>
															<td class="col-lg-2 col-3 text-center">100</td>
															<td class="col-lg-2 col-3 text-right">$25000</td>
	
														</tr>
														<tr class="row">
															<td class="col-lg-6 col-4">Mackbook Pro 15"</td>
															<td class="col-lg-2 col-2">$2500</td>
															<td class="col-lg-2 col-3 text-center">100</td>
															<td class="col-lg-2 col-3 text-right">$25000</td>
	
														</tr>
													</tbody>
												</table>
												<div class="row justify-content-end">
													<div class="col-12 col-md-3">
														<div>
															<table class="table right-table">
	
																<tbody>
																	<tr
																		class="d-flex align-items-center justify-content-between">
																		<th
																			class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
																			SUBTOTAL
																		</th>
																		<td
																			class="border-0 justify-content-end d-flex text-black-50 font-size-base">
																			$75000</td>
	
																	</tr>
																	<tr
																		class="d-flex align-items-center justify-content-between">
																		<th
																			class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
	
																			TAX(20%)
																		</th>
																		<td
																			class="border-0 justify-content-end d-flex text-black-50 font-size-base">
																			$90000</td>
	
																	</tr>
																	<tr
																		class="d-flex align-items-center justify-content-between">
																		<th
																			class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
	
																			DISCOUNT
																		</th>
																		<td
																			class="border-0 justify-content-end d-flex text-black-50 font-size-base">
																			10%</td>
	
																	</tr>
																	<tr
																		class="d-flex align-items-center justify-content-between item-price">
																		<th
																			class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
																			TOTAL
																		</th>
																		<td
																			class="border-0 justify-content-end d-flex text-dark font-size-base">
																			$81000</td>
	
																	</tr>
	
																</tbody>
															</table>
														</div>
													</div>
												</div>
	
											</div>
										</div>
									</div>
								</div>
	
							</div>
							<div class="tab-pane fade status-tab-style" id="status" role="tabpanel"
								aria-labelledby="status-tab">
								<div class="card card-custom gutter-b bg-white border-0">
									<div class="card-body">
										<div class="row gutter-b">
											<div class="col-12 table-padding">
												<table class="table table-striped text-body">
													<thead>
														<tr class="row">
															<th class="text-center border-0 col-6" scope="col">DATE ADDED
															</th>
															<th class="text-center border-0 col-6" scope="col">STATUS</th>
	
	
														</tr>
													</thead>
													<tbody>
														<tr class="row">
															<td class="text-center col-6">12.09.2020 10:00pm</td>
															<td class="text-center col-6">Pending</td>
														</tr>
														<tr class="row">
															<td class="text-center col-6">12.09.2020 10:00pm</td>
															<td class="text-center col-6">Pending</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="row ">
											<div class="col-12">
												<div class="form-group row align-items-center justify-content-center">
	
													<div class="col-xl-6 col-lg-8 col-12 status-detail">
														<label class="col-form-label mr-3">Order Status</label>
														<fieldset class="form-group">
															<select class="single-select w-100 ms-offscreen" style="">
																<option value="1">Pending</option>
																<option value="2">Completed</option>
																<option value="3">Rejected</option>
	
															</select>
															<div class="ms-parent single-select w-100 " title=""
																style="width: 100%;"><button type="button"
																	class="ms-choice">
																	<span class="">Pending</span>
	
																	<div class="icon-caret"></div>
																</button>
																<div class="ms-drop bottom">
																	<div class="ms-search">
																		<input type="text" autocomplete="off"
																			autocorrect="off" autocapitalize="off"
																			spellcheck="false" placeholder="">
																	</div>
																	<ul>
																		<li class=" hide-radio selected ">
																			<label class="">
																				<input type="radio" value="1"
																					data-key="option_0"
																					data-name="selectItem"
																					checked="checked">
																				<span>Pending</span>
																			</label>
																		</li>
	
																		<li class=" hide-radio ">
																			<label class="">
																				<input type="radio" value="2"
																					data-key="option_1"
																					data-name="selectItem">
																				<span>Completed</span>
																			</label>
																		</li>
	
																		<li class=" hide-radio ">
																			<label class="">
																				<input type="radio" value="3"
																					data-key="option_2"
																					data-name="selectItem">
																				<span>Rejected</span>
																			</label>
																		</li>
																		<li class="ms-no-results">No matches found</li>
																	</ul>
																</div>
															</div>
														</fieldset>
													</div>
												</div>
												<div class="row align-items-center justify-content-center mb-4">
													<div
														class="col-xl-3 col-lg-4 col-12 status-detail align-items-center justify-content-between">
														<label class="col-form-label mr-3">Notify Customer:</label>
														<div
															class="custom-control switch custom-switch custom-control-inline mr-0">
															<input type="checkbox" class="custom-control-input" checked=""
																id="customSwitch1">
															<label class="custom-control-label position-static"
																for="customSwitch1">
															</label>
														</div>
	
													</div>
	
													<div
														class="col-xl-3 col-lg-4 status-detail align-items-center justify-content-between">
														<label class="col-form-label mr-3">Append Comments:</label>
														<div
															class="custom-control switch custom-switch custom-control-inline mr-0">
															<input type="checkbox" class="custom-control-input"
																id="customSwitch2">
															<label class="custom-control-label mr-1 position-static"
																for="customSwitch2">
															</label>
														</div>
	
													</div>
	
	
												</div>
												<div class="form-group row align-items-center justify-content-center">
	
													<div class="col-xl-6 col-lg-8 col-12">
														<fieldset class="form-label-group">
															<textarea class="form-control" id="label-textarea" rows="3"
																placeholder="Label in Textarea"></textarea>
	
														</fieldset>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
	
							</div>
							<div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
								<div class="row">
									<div class="col-lg-12 col-12">
										<div class="card card-custom gutter-b bg-white border-0">
	
											<div class="card-body">
												<div class="row justify-content-center">
													<div class="col-12 col-lg-8">
														<div class="history-detail">
															<div class="timeline timeline-6 mt-3">
																<div
																	class="timeline-item align-items-start ml-5 badge-date">
																	<div class="timeline-badge">
																		<i
																			class="fa fa-genderless text-warning icon-xl"></i>
																	</div>
																	<div
																		class="timeline-label font-weight-bold text-black-50 text-left pl-3">
																		12 september 2020</div>
																</div>
																<div
																	class="timeline-item flex-column align-items-start pl-1">
																	<div
																		class="w-100  font-weight-mormal timeline-content text-muted ">
																		<table
																			class="table table-borderless history-table bg-light">
	
																			<tbody>
																				<tr>
																					<td class="border-right action"> <svg
																							width="15px" height="15px"
																							viewBox="0 0 16 16"
																							class="bi bi-clock"
																							fill="currentColor"
																							xmlns="http://www.w3.org/2000/svg">
																							<path fill-rule="evenodd"
																								d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
																							</path>
																							<path fill-rule="evenodd"
																								d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
																							</path>
																						</svg>
																						<span class="ml-2">08:00am</span>
																					</td>
																					<td class="content">The Order Was
																						validated</td>
																				</tr>
																				<tr>
																					<td class="border-right action"> <svg
																							width="15px" height="15px"
																							viewBox="0 0 16 16"
																							class="bi bi-clock"
																							fill="currentColor"
																							xmlns="http://www.w3.org/2000/svg">
																							<path fill-rule="evenodd"
																								d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
																							</path>
																							<path fill-rule="evenodd"
																								d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
																							</path>
																						</svg>
																						<span class="ml-2">09:00am</span>
																					</td>
																					<td class="content">Product
																						<strong>Macbook pro 15"</strong>
																						added to cart</td>
																				</tr>
																				<tr>
																					<td class="border-right action"> <svg
																							width="15px" height="15px"
																							viewBox="0 0 16 16"
																							class="bi bi-clock"
																							fill="currentColor"
																							xmlns="http://www.w3.org/2000/svg">
																							<path fill-rule="evenodd"
																								d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
																							</path>
																							<path fill-rule="evenodd"
																								d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
																							</path>
																						</svg>
																						<span class="ml-2">08:00am</span>
																					</td>
																					<td class="content">The Order Was Placed
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
																<div
																	class="timeline-item align-items-start ml-5 badge-date">
																	<div class="timeline-badge">
																		<i
																			class="fa fa-genderless text-success icon-xl"></i>
																	</div>
																	<div
																		class="timeline-label font-weight-bold text-black-50 text-left pl-3">
																		12 september 2020</div>
																</div>
																<div
																	class="timeline-item flex-column align-items-start pl-1">
																	<div
																		class="w-100  font-weight-mormal timeline-content text-muted ">
																		<table
																			class="table table-borderless history-table bg-light">
	
																			<tbody>
																				<tr>
																					<td class="border-right action"> <svg
																							width="15px" height="15px"
																							viewBox="0 0 16 16"
																							class="bi bi-clock"
																							fill="currentColor"
																							xmlns="http://www.w3.org/2000/svg">
																							<path fill-rule="evenodd"
																								d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
																							</path>
																							<path fill-rule="evenodd"
																								d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
																							</path>
																						</svg>
																						<span class="ml-2">08:00am</span>
																					</td>
																					<td class="content">The Order Was
																						validated</td>
																				</tr>
																				<tr>
																					<td class="border-right action"> <svg
																							width="15px" height="15px"
																							viewBox="0 0 16 16"
																							class="bi bi-clock"
																							fill="currentColor"
																							xmlns="http://www.w3.org/2000/svg">
																							<path fill-rule="evenodd"
																								d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
																							</path>
																							<path fill-rule="evenodd"
																								d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
																							</path>
																						</svg>
																						<span class="ml-2">09:00am</span>
																					</td>
																					<td class="content">Product
																						<strong>Macbook pro 15"</strong>
																						added to cart</td>
																				</tr>
																				<tr>
																					<td class="border-right action"> <svg
																							width="15px" height="15px"
																							viewBox="0 0 16 16"
																							class="bi bi-clock"
																							fill="currentColor"
																							xmlns="http://www.w3.org/2000/svg">
																							<path fill-rule="evenodd"
																								d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
																							</path>
																							<path fill-rule="evenodd"
																								d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
																							</path>
																						</svg>
																						<span class="ml-2">08:00am</span>
																					</td>
																					<td class="content">The Order Was Placed
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
																<div
																	class="timeline-item align-items-start ml-5 badge-date">
																	<div class="timeline-badge">
																		<i class="fa fa-genderless text-danger icon-xl"></i>
																	</div>
																	<div
																		class="timeline-label font-weight-bold text-black-50 text-left pl-3">
																		12 september 2020</div>
																</div>
																<div
																	class="timeline-item flex-column align-items-start pl-1">
																	<div
																		class="w-100  font-weight-mormal timeline-content text-muted ">
																		<table
																			class="table table-borderless history-table bg-light">
	
																			<tbody>
																				<tr>
																					<td class="border-right action"> <svg
																							width="15px" height="15px"
																							viewBox="0 0 16 16"
																							class="bi bi-clock"
																							fill="currentColor"
																							xmlns="http://www.w3.org/2000/svg">
																							<path fill-rule="evenodd"
																								d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
																							</path>
																							<path fill-rule="evenodd"
																								d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
																							</path>
																						</svg>
																						<span class="ml-2">08:00am</span>
																					</td>
																					<td class="content">The Order Was
																						validated</td>
																				</tr>
																				<tr>
																					<td class="border-right action"> <svg
																							width="15px" height="15px"
																							viewBox="0 0 16 16"
																							class="bi bi-clock"
																							fill="currentColor"
																							xmlns="http://www.w3.org/2000/svg">
																							<path fill-rule="evenodd"
																								d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
																							</path>
																							<path fill-rule="evenodd"
																								d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
																							</path>
																						</svg>
																						<span class="ml-2">09:00am</span>
																					</td>
																					<td class="content">Product
																						<strong>Macbook pro 15"</strong>
																						added to cart</td>
																				</tr>
																				<tr>
																					<td class="border-right action"> <svg
																							width="15px" height="15px"
																							viewBox="0 0 16 16"
																							class="bi bi-clock"
																							fill="currentColor"
																							xmlns="http://www.w3.org/2000/svg">
																							<path fill-rule="evenodd"
																								d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
																							</path>
																							<path fill-rule="evenodd"
																								d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
																							</path>
																						</svg>
																						<span class="ml-2">08:00am</span>
																					</td>
																					<td class="content">The Order Was Placed
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
																<div
																	class="timeline-item align-items-start ml-5 badge-date">
																	<div class="timeline-badge">
																		<i
																			class="fa fa-genderless text-primary icon-xl"></i>
																	</div>
																	<div
																		class="timeline-label font-weight-bold text-black-50 text-left pl-3">
																		12 september 2020</div>
																</div>
																<div
																	class="timeline-item flex-column align-items-start pl-1">
																	<div
																		class="w-100  font-weight-mormal timeline-content text-muted ">
																		<table
																			class="table table-borderless history-table bg-light">
	
																			<tbody>
																				<tr>
																					<td class="border-right action"> <svg
																							width="15px" height="15px"
																							viewBox="0 0 16 16"
																							class="bi bi-clock"
																							fill="currentColor"
																							xmlns="http://www.w3.org/2000/svg">
																							<path fill-rule="evenodd"
																								d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
																							</path>
																							<path fill-rule="evenodd"
																								d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
																							</path>
																						</svg>
																						<span class="ml-2">08:00am</span>
																					</td>
																					<td class="content">The Order Was
																						validated</td>
																				</tr>
																				<tr>
																					<td class="border-right action"> <svg
																							width="15px" height="15px"
																							viewBox="0 0 16 16"
																							class="bi bi-clock"
																							fill="currentColor"
																							xmlns="http://www.w3.org/2000/svg">
																							<path fill-rule="evenodd"
																								d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
																							</path>
																							<path fill-rule="evenodd"
																								d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
																							</path>
																						</svg>
																						<span class="ml-2">09:00am</span>
																					</td>
																					<td class="content">Product
																						<strong>Macbook pro 15"</strong>
																						added to cart</td>
																				</tr>
																				<tr>
																					<td class="border-right action"> <svg
																							width="15px" height="15px"
																							viewBox="0 0 16 16"
																							class="bi bi-clock"
																							fill="currentColor"
																							xmlns="http://www.w3.org/2000/svg">
																							<path fill-rule="evenodd"
																								d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z">
																							</path>
																							<path fill-rule="evenodd"
																								d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z">
																							</path>
																						</svg>
																						<span class="ml-2">08:00am</span>
																					</td>
																					<td class="content">The Order Was Placed
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
	
															</div>
														</div>
													</div>
												</div>
	
	
											</div>
										</div>
									</div>
								</div>
	
							</div>
							<div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
	
								<div class="card card-custom gutter-b bg-white border-0">
	
									<div class="card-body">
										<div id="draggable-cards" class="gutter-t">
											<div class="row" id="card-drag-area">
												<div class="col-lg-6 col-xl-4">
													<div id="01"
														class="card card-custom gutter-b bg-white border-0 pincard">
														<div class="card-header align-items-center border-0">
															<div class="card-title mb-0">
																<h5 class="font-size-h5 text-black-50">
																	11.Sep.2020
																</h5>
															</div>
	
															<div class="pin-click" id="pin1">
	
																<i class="fas fa-eye-slash pin-fixnot dis-block"></i>
																<i class="fas fa-eye pin dis-none"></i>
															</div>
	
														</div>
														<div class="card-body">
															<div class="card-title mb-0">
																<h3 class="font-size-h3 text-body">
																	The Title Of a Note
																</h3>
															</div>
															<div class="card-detail text-dark">
																<p>
																	Lorem ipsum dolor sit amet,
																	consectetur adipiscing elit. Proin
																	suscipit et elit faucibus accumsan.
																	Vestibulum ante ipsum primis in faucibus orci luctus
																	et ultrices posuere cubilia curae;
																	Aenean vitae mi at neque pellentesque
																	convallis. Vivamus rhoncus vestibulum rhoncus.
																	Praesent quam risus, commodo ut volutpat eget, pretium
																	ac
																	lacus. Proin sed tortor et est accumsan egestas. Duis
																	erat purus,
																	tincidunt non feugiat vitae, laoreet ut nulla.
																	Vivamus at ex at nulla convallis posuere. Etiam nisi
																	velit, efficitur eu risus a, suscipit finibus justo.
																</p>
																<p>
																	Lorem ipsum dolor sit amet,
																	consectetur adipiscing elit. Proin
																	suscipit et elit faucibus accumsan.
																	Vestibulum ante ipsum primis in faucibus orci luctus
																	et ultrices posuere cubilia curae;
																	Aenean vitae mi at neque pellentesque
																	convallis. Vivamus rhoncus vestibulum rhoncus.
																	Praesent quam risus, commodo ut volutpat eget, pretium
																	ac
																	lacus. Proin sed tortor et est accumsan egestas. Duis
																	erat purus,
																	tincidunt non feugiat vitae, laoreet ut nulla.
																	Vivamus at ex at nulla convallis posuere. Etiam nisi
																	velit, efficitur eu risus a, suscipit finibus justo.
																</p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-xl-4">
													<div id="02"
														class="card card-custom gutter-b bg-white border-0 pincard">
														<div class="card-header align-items-center border-0">
															<div class="card-title mb-0">
																<h5 class="font-size-h5 text-black-50">
																	12.Sep.2020
																</h5>
															</div>
	
															<div class="pin-click" id="pin2">
																<i class="fas fa-eye-slash pin-fixnot dis-block"></i>
																<i class="fas fa-eye pin dis-none"></i>
															</div>
	
														</div>
														<div class="card-body">
															<div class="card-title mb-0">
																<h3 class="font-size-h3 text-body">
																	The Title Of a Note
	
																</h3>
															</div>
															<div class="card-detail text-dark">
																<p>
																	Lorem ipsum dolor sit amet,
																	consectetur adipiscing elit. Proin
																	suscipit et elit faucibus accumsan.
																	Vestibulum ante ipsum primis in faucibus orci luctus
																	et ultrices posuere cubilia curae;
																	Aenean vitae mi at neque pellentesque
																	convallis. Vivamus rhoncus vestibulum rhoncus.
																	Praesent quam risus, commodo ut volutpat eget, pretium
																	ac
																	lacus. Proin sed tortor et est accumsan egestas. Duis
																	erat purus,
																	tincidunt non feugiat vitae, laoreet ut nulla.
																	Vivamus at ex at nulla convallis posuere. Etiam nisi
																	velit, efficitur eu risus a, suscipit finibus justo.
																</p>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-xl-4">
													<div
														class=" border-dashed addnote pincard d-flex justify-content-center align-items-center">
														<div class="card-toolbar ">
															<div class="btn btn-icon btn-secondary  btn-plus h-100px w-100px "
																id="kt_notes_panel_toggle" data-toggle="tooltip" title=""
																data-placement="right"
																data-original-title="Check out more demos">
																<span class="svg-icon svg-icon-xl svg-icon-primary white ">
	
																	<svg width="" height="" viewBox="0 0 16 16"
																		class="bi bi-plus" fill="currentColor"
																		xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd"
																			d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
																		</path>
																	</svg>
	
																</span>
																<h5 class="mt-3 text-dark font-size-h5 ">Add Notes</h5>
															</div>
														</div>
	
													</div>
												</div>
	
											</div>
										</div>
									</div>
								</div>
	
	
							</div>
							<div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="message-tab">
								<div class="row">
									<div class="col-12">
										<div class="card card-custom gutter-b bg-white border-0 message-content p-5">
											<div class="row justify-content-center">
	
												<div class="col-12 col-md-8">
													<div class="d-flex align-items-center border-0 p-3 rounded mb-5">
														<div class="media">
															<img src="./assets/images/profiles/profile1.png" alt="profile"
																class="rounded-circle">
															<div class="media-body ml-3">
																<div class="d-flex justify-content-between mb-1">
																	<h3 class="font-size-h3 text-dark info-tag">John Doe
																	</h3>
	
																</div>
																<div class="badge badge-primary font-size-h5 rounded">
																	Customer
																</div>
	
															</div>
														</div>
														<div class="text-input position-relative disabled">
															<div class="date-text">
																<h5 class="font-size-h5 text-black-50 text-right">
																	30 min ago
																</h5>
															</div>
															<fieldset class="form-label-group">
																<textarea class="form-control fixed-size "
																	id="horizontalTextarea1" rows="6"
																	placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar tempus orci id iaculis."
																	disabled=""></textarea>
	
															</fieldset>
														</div>
													</div>
												</div>
											</div>
											<div class="row justify-content-center">
												<div class="col-12 col-md-8">
													<div class="d-flex align-items-center border-0 p-3 rounded mb-5">
														<div class="media">
															<img src="./assets/images/profiles/profile1.png" alt="profile"
																class="rounded-circle">
															<div class="media-body ml-3">
																<div class="d-flex justify-content-between mb-1">
																	<h3 class="font-size-h3 text-dark info-tag">John Doe
																	</h3>
	
																</div>
																<div class="badge badge-primary font-size-h5 rounded">
																	Customer
																</div>
	
															</div>
														</div>
														<div class="text-input position-relative disabled">
															<div class="date-text">
																<h5 class="font-size-h5 text-black-50 text-right">
																	30 min ago
																</h5>
															</div>
															<fieldset class="form-label-group">
																<textarea class="form-control fixed-size "
																	id="horizontalTextarea12" rows="6"
																	placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar tempus orci id iaculis."
																	disabled=""></textarea>
	
															</fieldset>
														</div>
													</div>
	
	
												</div>
											</div>
											<div class="line-bar mb-5 ">
												<h5 class="text-withLine text-dark mb-0">New Message</h5>
											</div>
											<div class="row justify-content-center">
												<div class="col-12 col-md-8">
													<div class="d-flex align-items-center border-0 p-3 rounded mb-5">
														<div class="media">
															<img src="./assets/images/profiles/profile1.png" alt="profile"
																class="rounded-circle">
															<div class="media-body ml-3">
																<div class="d-flex justify-content-between mb-1">
																	<h3 class="font-size-h3 text-dark info-tag">John Doe
																	</h3>
	
																</div>
																<div class="badge badge-primary font-size-h5 rounded">
																	Manger
																</div>
	
															</div>
														</div>
														<div class="text-input position-relative disabled ">
															<div class="date-text">
																<h5 class="font-size-h5 text-black-50 text-right">
																	Just Now
																</h5>
															</div>
															<fieldset class="form-label-group">
																<textarea class="form-control fixed-size "
																	id="horizontalTextarea" rows="6"
																	placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar tempus orci id iaculis."
																	disabled=""></textarea>
	
															</fieldset>
														</div>
													</div>
	
	
												</div>
											</div>
											<div class="row justify-content-center">
												<div class="col-12 col-md-8">
													<div
														class="card-header align-items-end border-0   rounded position-relative">
	
														<fieldset class="form-label-group w-100 ">
															<textarea id="txtarea"
																class="bg-light autoexpand-textarea form-control"
																placeholder=" Enter Text.."></textarea>
	
														</fieldset>
														<div class="addclip-input pr-3 pb-2">
	
															<span>
																<label>
																	<svg width="15px" height="15px" viewBox="0 0 16 16"
																		class="bi bi-paperclip" fill="currentColor"
																		xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd"
																			d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z">
																		</path>
																	</svg>
																	<input type="file" size="60">
	
																</label>
	
															</span>
															<span class="pl-2">
																<a href="#">
																	<svg width="15px" height="15px" viewBox="0 0 16 16"
																		class="bi bi-emoji-smile" fill="currentColor"
																		xmlns="http://www.w3.org/2000/svg">
																		<path fill-rule="evenodd"
																			d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z">
																		</path>
																		<path fill-rule="evenodd"
																			d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z">
																		</path>
																		<path
																			d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z">
																		</path>
																	</svg>
																</a>
															</span>
															<span class="pl-4">
																<a href="#">
																	<i class="fas fa-paper-plane font-size-h4"></i>
																</a>
															</span>
														</div>
													</div>
	
	
												</div>
											</div>
										</div>
	
	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
	