{% extends 'base.html' %} {% load static %} {% block content %}

<style type="text/css">
  .hero {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 41%,
        rgba(0, 0, 0, 0.65) 100%
      ),
      url("{% static 'custome\images\slide-1.jpg' %}");
    background-size: 100%, cover;
    background-position: center;
    min-height: 80vh;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-h1 {
    color: #fff;
    font-size: 2rem;
  }

  .hero-span {
    color: rgb(247, 167, 7);
    z-index: 13;
    text-transform: uppercase;
    white-space: nowrap;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
  }
  .moss {
    width: 200px;
    height: 150px;
  }
  .pro-img {
    width: 400px;
    height: 280px;
  }
  .meme {
    width: 230px;
    height: 200px;
  }
  .imo {
    width: 80px;
    height: 80px;
  }
  @media (max-width: 768px) {
    .hero-h1 {
      font-size: 1.2rem;
    }
    .hero {
      margin-top: -30px;
    }
  }
</style>

<!-- Page Header -->

<!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
<div class="hero" id="here-hero">
  <h1 class="hero-h1">
    We Have Collection of Products and offers <br />
    <br />

    <a
      a
      href="{% url 'main' %}"
      class="hero-span tp-caption BigBold-Button rev-btn"
      >Start shopping</a
    ><br />
  </h1>
</div>

<div class="tri-top-sellers tri-slick pro-content">
  <div class="container">
    <div class="products-area">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="pro-heading-title">
            <h2 class="justify-content-center text-center">OUR CATEGORIES</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="brands-carousel-js Categories-content">
          {% for cata in catagory %}
          <div class="collection-banner hvr-vibrate">
            <div class="product">
              <article>
                <div class="pro-thumb">
                  <img
                    class="img-fluid moss"
                    src="{{cata.image.url}}"
                    alt="Product-Image"
                  />
                </div>
                <div class="pro-info">
                  <div class="pro-heading">
                    <h3>
                      <a href="{% url 'pro_main' cata.slug %}">{{cata.name}}</a>
                    </h3>
                  </div>
                </div>
              </article>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- full width banner with tabs -->
<div class="tri-banners-content tri-slick pro-content">
  <div class="fullwidth-banner3 pro-content">
    <section class="deal-of-the-day">
      <div class="container">
        <div class="products-area">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
              <div class="pro-heading-title">
                <h2 class="justify-content-center text-center">
                  DEALS OF THE Week
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div
              class="deal-of-the-day-js center-product-style .slider-nav row"
            >
              {% for product in products %}
              <div class=" ">
                <div class="product">
                  <article>
                    <div class="pro-thumb">
                      <img
                        class="img-fluid pro-img"
                        src="{{product.image.url}}"
                        alt="Product-Image"
                      />
                      <div class="pro-hover-icons">
                        <div class="icons">
                          <button
                            data-product="{{product.id}}"
                            data-action="add"
                            class="icon btn-light update-cart"
                            onclick="notificationCart();"
                          >
                            <img
                              src="{% static 'custome\revolution\assets\svg\action\ic_add_shopping_cart_24px.svg' %}"
                              alt=""
                            />
                            <i class="fas fa-shopping-bag"></i>
                          </button>
                          <button
                            data-product="{{product.id}}"
                            data-action="wish"
                            class="btn-light icon update-cart"
                            onclick="notificationWishlist();"
                          >
                            <img
                              src="{% static 'custome\revolution\assets\svg\action\ic_list_24px.svg' %}"
                              alt=""
                            />
                            <i
                              class="fas fa-align-right"
                              data-fa-transform="rotate-90"
                            ></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="pro-info">
                      <div class="pro-heading">
                        <h3>
                          <a href="{% url 'detail' product.slug %}"
                            >{{product.name}}</a
                          >
                        </h3>
                        <div class="pro-price">
                          {% if product.discount %}
                          <ins
                            >${{product.new_price|floatformat:2}}
                            <del> ${{product.price|floatformat:2}} </del>
                          </ins>
                          {% else %}
                          <ins>${{product.price|floatformat:2}}</ins>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="tri-Featured-sellers tri-slick pro-content">
  <div class="container">
    <div class="products-area">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="pro-heading-title">
            <h2 class="justify-content-center text-center">
              LATEST ON SALE PRODUCTS
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-12">
      <div class="on-sale-product-js .slider-nav row">
        {% for product in top %}
        <div class=" ">
          <div class="pro-category-product dark-bg2">
            <div class="pro-cate-content">
              <h3>{{product.name}} <strong>{{product.catagory}}</strong></h3>
              <div class="pro-price">
                {% if product.discount %}

                <ins
                  >${{product.new_price}}
                  <del> ${{product.price}} </del>
                </ins>
                {% else %}
                <ins>${{product.price}} </ins>
                {% endif %}
              </div>
              <a
                href="{% url 'pro_main' product.catagory.slug %}"
                class="btn btn-link"
                tabindex="0"
                >Shop Now
                <i class="fas fa-angle-double-right"></i>
              </a>
            </div>
            <div class="tri-cate-image mt-4">
              <img
                class="img-fluid pro-img"
                src="{{product.image.url}}"
                alt="Banner Image"
              />
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<section class="testimonial-content tri-slick pro-content">
  <div class="container">
    <div class="products-area">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="pro-heading-title">
            <h2 class="justify-content-center text-center">TESTIMONIALS</h2>
            <p class="justify-content-center d-flex">
              Right your experince with the Websity
              <a href="{% url 'testo' %}" class="ml-2 bg-info">here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="testimonial-js testimonial3 .slider-nav row">
          {% for tst in testo %}
          <div class="">
            <div class="product">
              <article>
                <div class="media">
                  <img
                    src="{{tst.image.url}}"
                    alt="profile"
                    class="rounded-circle imo"
                  />
                  <div class="media-body">
                    <h3>{{tst.name}}</h3>
                    <p>{{tst.note}}</p>
                    <div class="pro-rating">
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
